/* Import Fonts her */

html,
body {
   margin: 0 1rem;
   padding: 0;
   align-items: center;
}

body {
   /* display: flex !important; */
   /* flex-direction: row-reverse; */
   justify-content: space-between;
}

nav {
   position: fixed !important;
   top: 0;
   right: 0;
   margin: 1rem 2rem 0 2rem;
   padding: 0 2rem;
   align-items: center;
   align-content: center;
   text-align: center;
}

main {
   display: flex column;
   flex: 1;
   margin: 2rem;
   max-width: 600px;
   /* gap: 10rem 0 0; */
}

main div {
   margin: 14rem 0;
}
